---
title: Home
---

<% published_articles.each do |article| %>
  <% time = attribute_to_time(article[:created_at]) %>
  <article>
    <header>
      <h1><%= link_to(html_escape(article[:title]), article) %></h1>
      <time datetime="<%= time.strftime('%F') %>" pubdate>
        <%= time.strftime('%B %d, %Y') %>
      </time>
    </header>
    <p class="description">
      <%= html_escape(article[:description]) %>
    </p>
  </article>
<% end %>

