<% time = attribute_to_time(item[:created_at]) %>
<article>
  <header>
    <h1><%= html_escape(item[:title]) %></h1>
    <time datetime="<%= time.strftime('%F') %>" pubdate>
      <%= time.strftime('%B %d, %Y') %>
    </time>
  </header>
  <%= yield %>
</article>

