<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} - bytespree.com</title>
    {% if page.meta_description %}
    <meta name="description" content="{{ page.meta_description }}">
    {% elsif page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/assets/screen.css">
  </head>
  <body>
    <div class="contentContainer">
      <header class="main">
        <ul>
          <li>
            <a href="/">Posts</a>
          </li>
          <li><a href="/about.html">About</a></li>
        </ul>
      </header>
      {{ content }}
    </div>

    <footer id="footer">
      <div class="contentContainer">
        <div>Copyright &copy; Galymzhan Kozhayev</div>
        <div>
          Find me on <a href="https://github.com/galymzhan">Github</a>, 
          <a href="https://twitter.com/justgalym">Twitter</a>
          and <a href="http://stackoverflow.com/users/450449/galymzhan">Stack Overflow</a>
        </div>
      </div>
    </footer>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29797407-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
